{% extends "base_newlookandfeel.html" %}
{% load setVar %}

{% block title %}Upload Populated SED{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/jQueryUI/jquery-ui.css">
<script src="/static/jQueryUI/jquery-ui.js"></script>

<script>
    $(function() {
        $( "#virtualImageUploadError" ).accordion({
            active:false,
            collapsible: true,
            heightStyle: "content"
        });
    });
</script>
<script>
    $(function() {
        $( "#virtualImageUploadWarning" ).accordion({
            active:false,
            collapsible: true,
            heightStyle: "content"
        });
    });
</script>
<script>
    $(function() {
        $( "#virtualImageUploadSuccess" ).accordion({
            active:false,
            collapsible: true,
            heightStyle: "content"
        });
    });
</script>

<div class="deployment_container">
    <h2 class="generalPageNewLook-title">Upload the Pre-Populated SED Result
    <a class="img" href="https://confluence-oss.seli.wh.rnd.internal.ericsson.com/display/CIOSS/Upload+a+Prepopulated+SED+to+the+CI+Axis+Portal" title="Upload a Prepopulated SED to the CI Axis Portal" target="_blank"><img src="/static/images/question.png"/></a>
    </h2>
<div>
    <p>
        Result of upload to deployment : <a href="/dmt/clusters/{{ clusterDetails.id }}/">{{ clusterDetails.name }}</a><br>
        <img src="/static/images/failed.png" alt="Error" height="20" width="20"> icon illustrates a error to the user this should be investigated before proceeding with an installation. (<b>Item Not Uploaded</b>)<br>
        <img src="/static/images/warning.png" alt="Warning" height="20" width="20"> icon illustrates a warning to the user that the user can ignore if the user is aware of the issue. (<b>Item Not Uploaded</b>)<br>
        <img src="/static/images/passed.png" alt="Passed" height="20" width="20"> icon illustrates that all was successful for that item. (<b>Item Uploaded</b>)<br>
    </p>
</div>
Go to Deployment <a href="/dmt/clusters/{{ clusterDetails.id }}/">{{ clusterDetails.name }}</a><br><br>
<h2>Pre-Populated SED Upload Report</h2>
<div class="full-sub-details">
    <table class="general-table">
        <tr>
            <th class="title">
                <div class="table-title">Virtual Image Section Upload Report</div>
            </th>
        </tr>
    </table>
    {% if result %}
        <div id="virtualImageUploadError">
            <h3><img src="/static/images/failed.png" alt="Error" height="20" width="20"/> Errors</h3>
            <div>
                <table class="general-table">
                    <tr>
                        <th>Comment</th>
                        <th>Result</th>
                    </tr>
                    {% set found = 0 %}
                    {% for item in result %}
                        <tr>
                            {% if "ERROR" in item %}
                                <td>{{ item }}</td>
                                <td align="center"><img src="/static/images/failed.png" alt="Error" height="20" width="20"/></td>
                                {% set found = 1 %}
                            {% endif %}
                            </tr>
                    {% endfor %}
                    {% if found == 0 %}
                    <tr>
                        <td>No Errors Found</td>
                        <td></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div id="virtualImageUploadWarning">
            <h3><img src="/static/images/warning.png" alt="Warning" height="20" width="20"> Warnings</h3>
            <div>
                <table class="general-table">
                    <tr>
                        <th>Comment</th>
                        <th>Result</th>
                    </tr>
                    {% set found = 0 %}
                    {% for item in result %}
                        <tr>
                            {% if "WARNING" in item %}
                                <td>{{ item }}</td>
                                <td align="center"><img src="/static/images/warning.png" alt="Warning" height="20" width="20"/></td>
                                {% set found = 1 %}
                            {% endif %}
                            </tr>
                    {% endfor %}
                    {% if found == 0 %}
                      <tr>
                        <td>No Warnings Found</td>
                        <td></td>
                      </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div id="virtualImageUploadSuccess">
            <h3><img src="/static/images/passed.png" alt="Passed" height="20" width="20"/> Success</h3>
            <div>
                <table class="general-table">
                    <tr>
                        <th>Comment</th>
                        <th>Result</th>
                    </tr>
                    {% set found = 0 %}
                    {% for item in result %}
                        <tr>
                            {% if "SUCCESS" in item %}
                                <td>{{ item }}</td>
                                <td align="center"><img src="/static/images/passed.png" alt="Passed" height="20" width="20"/></td>
                                {% set found = 1 %}
                            {% endif %}
                            </tr>
                    {% endfor %}
                    {% if found == 0 %}
                    <tr>
                        <td>No Successes Found</td>
                        <td></td>
                     </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    {% else %}
        There seems to be something wrong with the upload of the virtual image section</br>
        If the problem persists please log a jira on the <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/CIS">Continuous Integration Services</a> area.<br><br>
        Return to the <a href="/dmt/upload/preLoadedSed/">Upload SED Page</a><br>
    {% endif %}
</div>

{% endblock %}
