{% extends "base_newlookandfeel.html" %}
{% load i18n %}

{% block title %}Page Unavailable{% endblock %}
{% block content %}
<div class="general-container">
    <h2 class="generalPageNewLook-title">Page Unavailable - 500 Error</h2>
    <p>Sorry, but the requested page is unavailable due to a server error </p>
    <p>The Administrator(s) have been notified, check back later.</p>
    <p> If you want report this, create a <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/CIP">JIRA Ticket</a> giving more details.</p>
</div>
{% endblock %}

